.controle-tbody
{
    font-size: 13px !important;
}

.info-controle-pastas-btn
{
    font-size: 12px;
}

.td-lucas
{
    background-color: rgb(51, 207, 121) !important;
}

.td-tamires
{
    background-color: rgb(245, 147, 168);
}